
:root {
    --bodyfont: 'Exo';
}

html
{
    height: 100%;

    font-family: var(--bodyfont);
    color: #FFFFFF;
}

.fade {
	display: none;
	opacity: 1;
	transition: opacity 0.5s ease-in-out;
}

.centre-logo
{
    display: block;
    padding-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.topleft-logo
{
    display:block;
    padding-top:10px;
    padding-left:10px;
    margin-left:0px;
    margin-right:auto;
    width: 375px;
    height: 75px;
}

h1
{
    font-family: var(--bodyfont);
    font-size:24px;
    text-align: center;
    color: #FFFFFF;
}

h2
{
    font-family: var(--bodyfont);
    font-size:24px;
    text-align: left;
    color: #FFFFFF;
    padding-left: 200px;
}

h3
{
    font-family: var(--bodyfont);
    font-size:36px;
    font-style:italic;
    text-align: center;
    color:lightcoral;
}

body
{
    height: 100%;
    margin: 0;
    margin-bottom: 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: #000000;
}

.news-text
{
	display: none;
	font-family: var(--bodyfont);
    color: #229922;
	text-align:center;
}

.news-text.visible {
	display: block;
}

/*  RADIAL MENU  */

.circular-nav
{
    width: 250px;
    height: 250px;
    margin: 50px auto 0;
    padding: 60px;
    position: relative;
}

.radial-menu
{
    width: 250px; 
    height: 250px;
    opacity: 0;

    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    transform: scale(0);

    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.open.radial-menu
{
    opacity:1;

    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
}

.radial-menu a
{
    font-family: var(--bodyfont);
    font-size: 24px;
    display: block;
    height: 40px;
    width: 40px;
    text-decoration: none;
    color: #FFFFFF;
    line-height: 40px;
    margin-left: -45px;
    margin-top: -45px;
    position: absolute;
    text-align: center;
}

.radial-menu a:hover
{
    color: #33FF33;
}

.menu-button
{
    font-family: var(--bodyfont);
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    text-decoration: none;
    text-align: center;
    color: #FFFFFF; 
    border-radius: 50%;
    display: block;
    height: 60px;
    width: 60px;
    line-height: 30px;
    padding: 0px;
    background-color: #229922;
    box-shadow: 0 0 15px 15px #229922;
    transition: box-shadow 0.3s ease;
}

.menu-button:hover
{
    //background-color: #229922;
    box-shadow: 0 0 50px 20px rgba(50, 255, 50, 0), 0 0 50px 40px rgba(50, 255, 50, 0.3);
}

.submenu-button
{
    font-family: var(--bodyfont);
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 60px);
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    border-radius: 50%;
    display: block;
    height: 60px;
    width: 120px;
    line-height: 30px;
    padding: 15px;
}

.submenu-button:hover
{
}

/*  PARAGRAPH BLOCKS  */
.float-children > * {
    float:left;
    margin-right:5px;
}

.clearfix {
    *zoom:1 /* for IE */
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}


.left-aligned
{
    font-family: var(--bodyfont);
    padding-top: 5px;
    padding-left: 25px;
    margin-left:25px;
    /* margin-right: 40%; */
    text-align:left;
    color: #FFFFFF;
}

.left-aligned a:hover
{
    color:lavender;
}

.left-aligned a:visited
{
    color:lightcoral;
}

.left-aligned a:link
{
    color:lightcyan;
}

.right-aligned-img
{
    width:100px;
}

#app-slideshow
{
    margin: 5px auto;
    margin-left:50px;
    margin-right:50px;
    position: relative;
    width: 300px;
    padding: 5px;
}

#app-slideshow > div
{
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.feature-text
{
    animation: fadeIn ease 5s;
    -webkit-animation: fadeIn ease 5s;
    -moz-animation: fadeIn ease 5s;
    -o-animation: fadeIn ease 5s;
    -ms-animation: fadeIn ease 5s;

    font-family: 'Exo';
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: left;
    font-size: 36px;
    color: #FFFFFF;
}

@keyframes fadeIn 
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

@-moz-keyframes fadeIn 
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn 
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

@-o-keyframes fadeIn 
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

@-ms-keyframes fadeIn 
{
    0%
    {
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}

.footer
{
    position: fixed;
    left: 0;
    bottom: 60px;
    width: 100%;
    height: 100px;
    margin-bottom: 0px;
    text-align: center;
}

.link-img
{
    text-decoration: none;
}

.social-img
{
    width: 48px;
    height: 48px;
}

.social-img:hover
{
    background-color: #22FF22;
    border-radius: 50%;
    box-shadow: 0 0 4px 4px #22FF22;
}

.socials-bar
{
    text-align:center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}
